@use '../../styles/index' as *;
.container__section.contact {
    background: #fff;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: $bx-section;
    .form-contact {
        padding: 20px;
        position: relative;
        .input-item {
            display: flex;
            flex-direction: column;
            outline: none;
            &:nth-child(n+2) {
                margin-top: 10px;
            }
            input.input{
                height: 30px;
                border-radius: 5px;
                border: 1px solid #f2f4fa;
                padding: 0 10px;
                margin-top: 10px;
                background: #f2f4fa;
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                &:focus {
                    outline: none;
                }
            }
            textarea.input {
                border: 1px solid #f2f4fa;
                background: #f2f4fa;
                border-radius: 5px;
                margin-top: 10px;
                padding: 10px;
                box-sizing: border-box;
                height: 100px;
                &:focus {
                    outline: none;
                }
            }
        }
        button.btn-submit {
            outline: none;
            border: none;
            background: #4b42f4;
            text-transform: uppercase;
            color: white;
            padding: 10px 25px;
            display: block;
            margin: 0 auto;
            margin-top: 25px;
            border-radius: 5px;
            cursor: pointer;
        }
        .aler-form {
            position: absolute;
            background: rgb(255 255 255 / 49%);
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            &.is-error {
                p.alert {
                    background: #de1010;
                    box-shadow: 1px 3px 8px rgb(222 17 16 / 68%);
                }
            }
            &.is-success {
                p.alert {
                    background: #0c9332;
                    box-shadow: 0px 2px 9px #0c9332bd;
                }
            }
            p.alert {
                width: 80%;
                padding: 50px 0;
                border-radius: 5px;
                color: #fff;
                cursor: pointer;
                transform: scale(1);
                opacity: 1;
                animation: alert .1s reverse
            }
        }
    }
}

@keyframes alert {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

    
